<footer class="footer has-cards">
    <div class="container container-lg" [ngClass]="{'hidden': getPath() !== '/'}">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6 col-lg-offset-3">
          <div class="card card-lift--hover shadow border-0" style="height:350px;">
            <img src="./assets/img/theme/angular_logo.png" class="card-img">
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:20px;">
      <div class="row row-grid align-items-center" >
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Merci pour votre attention</h3>
          <h4 class="mb-0 font-weight-light">Angular v14 - Google FrontEnd Framework.</h4>
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
          <a routerLink="/" class="btn btn-icon-only btn-twitter btn-round">
            <i class="fa fa-twitter"></i>
          </a>
          <a routerLink="/" class="btn btn-icon-only btn-facebook btn-round">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a routerLink="/" class="btn btn-icon-only btn-dribbble btn-round">
            <i class="fa fa-dribbble"></i>
          </a>
          <a routerLink="/" class="btn btn-icon-only btn-github btn-round">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            
            <a href="#">&copy; 2022 Loïc Bstorm</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="http://www.technofuturtic.be/" class="nav-link" target="_blank">Technofutur TIC</a>
            </li>
            <li class="nav-item">
              <a href="https://www.bstorm.be/" class="nav-link" target="_blank">Bstorm</a>
            </li>
            <li class="nav-item">
              <a href="https://gitlab.com/journeedesmetierstf" class="nav-link" target="_blank">Source : GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  